.sideBar{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: #232323;
    z-index: 0;

    &Logo{
        display: grid;
        place-items: center;
        text-align: center;
        height: 120px;
        font-size: 1.5rem;
        font-weight: 700;
        color:#d8d8d8;
    }

    &Menu{
        position: relative;

        &Item{
            display: flex;
            align-items: center;
            place-content: flex-start;
            padding: 1rem 3rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: #d8d8d8;
            transition: color 0.3s ease-in-out;

            &.active {
                color: #000000;
            }

            &Icon {
                margin-right: 1rem;

                i{
                    font-size: 1.75rem;
                }
            }

            &Text {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        &Indicator {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(100% - 40px);
            border-radius: 10px;
            background-color: #d8d8d8;
            z-index: -1;
            transform: translateX(-50%);
            transition: 0.3s ease-in-out;
        }
    }
}