.container {
    display: grid;
    grid-template-columns: minmax(100px, 15%) 1fr;
    grid-auto-rows: 100vh;
    grid-template-areas: "sidebar page";
    gap: 10px 10px;
    justify-items: start;
    align-items: start;
    overflow: auto;
}

.sideBar {
    grid-area: sidebar;
}

.page .dashboardPage {
    grid-area: page;
}
