.formContainer {
    background-color: #232323;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 15px;
}

.formContainer h3 {
    font-size: 1.6rem;
    text-align: center;
    margin: 60px 0px 50px 0px;
}

.formContainer input {
    width: 70%;
    height: 35px;
    color: aliceblue;
    background-color: #232323;
    border: 0;
    border-bottom: 0.5px solid aliceblue;
}

.formContainer select {
    width: 70%;
    height: 35px;
    color: aliceblue;
    background-color: #232323;
    border: 0;
    border-bottom: 0.5px solid aliceblue;
}

input:focus {
    outline: none;
}

.formButton {
    height: 30px;
    width: 40%;
    margin: 45px 0px 0px 0px;
    overflow: hidden;
    color: white;
    background-color: unset;
    border: 0.5px solid aliceblue;
    transition: all .3s ease;
}

.clearButton {
    width: 25%;
    height: 30px;
    margin: 0px 0px 60px 0px;
    background-color: unset;
    border: unset; 
    color: aliceblue;
    text-decoration: underline;
}

.clearButton:hover {
    background-color: #2b2b2b;
    border-radius: 5px;
}

.formButton:hover {
    background-color: aliceblue;
    color: black;
}